h3 {
    color:green;
}
.Blue{
    color:rgb(20, 107, 8);
}
.box{
    height: auto;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
    background-color: blanchedalmond; 
}
.box2{
    height: auto;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 10px solid rgb(49, 145, 73);
    background-color: rgb(255, 255, 255); 
}
.box3{
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
    background-color: rgba(157, 207, 255, 0.514); 
}
