
.box{
    height: auto;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 10px solid #7B3E19;
    background-color: #8B9556; 
}
.box2{
    height: auto;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 10px solid #2d611d;
    background-color: rgb(255, 255, 255); 
}
.box3{
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 3px solid #2d611d;
    background-color: #98C1D9;
}
h3{
    text-decoration: double underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    color:#2d611d;
}
.intro{
    text-decoration: double underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32;
    color:#2d611d;
}
.box4{
    background-color: #e0eca4;
}
.box5{
    background-color: #f2dba5 ;
}